/* styles.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side h1 {
  margin: 0;
}

.right-side img {
  width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

body {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: auto;
}

/* Estilos para el formulario en el componente Body */
.network-form-container {
  margin-top: 20px;
  display: flex; /* Asegura que los elementos internos estén alineados horizontalmente */
  justify-content: center; /* Centra el formulario horizontalmente */
  align-items: center; /* Centra el formulario verticalmente */
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.network-form {
  display: flex; /* Alinea horizontalmente los elementos del formulario */
  align-items: center; /* Alinea verticalmente los elementos del formulario */
}

.network-form label {
  margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

.network-form input {
  width: auto; /* Ancho automático para que no ocupe todo el espacio */
  padding: 8px;
  margin-bottom: 0; /* Eliminar el margen inferior */
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Espacio entre el campo de entrada y el botón */
}

.submit-btn:hover {
  background-color: #45a049;
}
.transfer-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.transfer-container h2 {
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.send-button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.send-button:hover {
  background-color: #0056b3;
}

.back-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #007bff;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}
