/* styles.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: bold;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side h1 {
  margin: 0;
}

.right-side img {
  width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
  height: auto;
}

body {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: auto;
  font-weight: bold;
}

/* Estilos para el formulario en el componente Body */
.network-form-container {
  margin-top: 20px;
  display: flex; /* Asegura que los elementos internos estén alineados horizontalmente */
  justify-content: center; /* Centra el formulario horizontalmente */
  align-items: center; /* Centra el formulario verticalmente */
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.network-form {
  display: flex; /* Alinea horizontalmente los elementos del formulario */
  align-items: center; /* Alinea verticalmente los elementos del formulario */
}

.network-form label {
  margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

.network-form input {
  width: auto; /* Ancho automático para que no ocupe todo el espacio */
  padding: 8px;
  margin-bottom: 0; /* Eliminar el margen inferior */
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.submit-btn {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px; /* Espacio entre el campo de entrada y el botón */
}

.submit-btn:hover {
  background-color: #45a049;
}

.link-style {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  background-color: #333;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.link-style:hover {
  background-color: #e0e0e0;
  color: #000;
}

.link-style img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
